<html>
<body>
   
    
   
   <a href="../country/add" style="color: black;">Add country</a>    |     <a href="../country/display" style="color: black;">Display Country</a>
    
    <a href="../state/add" style="color: black;">Add State</a>   |   <a href="../state/display" style="color: black;">Display State</a><br>
    <a href="../city/add" style="color: black;">Add City</a>    |    <a href="../city/display" style="color: black;">Display City</a>
    
    
{{!-- {{include('../header');}}  --}}
    <form method="post" action="add">
        <h1>Add City Record</h1>
        <table>
                <td>CityName</td>
                <td> <input type="text" placeholder="Enter Cityname" name="city_name"></td>
            </tr>
            <tr>
                <td>State</td>
                <td> 
                    <select name="_state">
                     
                       {{#each state_array}}
                            <option value="{{this._id}}">{{this.s_name}}</option>
                            {{!-- <option value="{{this._id}}">{{this.c_mobile}}</option> --}}
                       {{/each}}
                           
                        </select>
                </td>
            </tr
           
            <tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>
        </table>
    </form>
</body>
</html>